<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="542a7a68-d5a0-4374-94aa-f1b81a922442" Publisher="CN=Jiri" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RssGo</DisplayName>
    <PublisherDisplayName>Jiri</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>RssGo</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RssGo.App">
      <VisualElements DisplayName="RssGo" Logo="logo-blesk.png" SmallLogo="small-logo-blesk.png" Description="RssGo" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" WideLogo="wide-logo-blesk.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>